<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AEM Dialog</title>
        <link rel="stylesheet" href="{% static 'css/coralui3.css'  %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/core.css'  %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/all.css'  %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">

        {% comment %} <script type="text/javascript" src="{% static 'js/coralui3.js'  %}"></script>
        <script type="text/javascript" src="{% static 'js/all.js'  %}"></script>
        <script type="text/javascript" src="{% static 'js/page.js'  %}"></script> {% endcomment %}
        <script type="text/javascript" src="{% static 'js/jquery.js'  %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.min.js'  %}"></script>
    </head>

    {% block body %}
    {% endblock body %}
    
</html>